Source: unicon
Section: devel
Priority: optional
Maintainer: Jafar Al-Gharaibeh <to.jafar@gmail.com>
Build-Depends:
	debhelper (>= 9),
	autotools-dev,
	libc6,
	libgcc1,
	libgl1-mesa-glx,
	libssl-dev,
	libx11-dev,
	libjpeg-dev,
	libpng-dev,
	libglu1-mesa-dev,
	libopenal-dev,
	libalut-dev,
	libogg-dev,
	libvorbis-dev,
	unixodbc-dev,
	libfreetype6-dev,
	libxft-dev
Standards-Version: 3.9.8

Homepage: http://www.unicon.org
Package: unicon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Provides: unicon
Description: Interpreter and tools for Unicon, a high-level programming language
 Unicon is a "modern dialect" descending from the Icon programming language.
 Unicon incorporates numerous new features and extensions to make the Icon
 language more suitable for a broad range of real-world applications.
