#!/usr/bin/make -f

# output every command that modifies files on the build system.
export DH_VERBOSE = 1
export DH_OPTIONS = -v

# Don't deal with any files in the revision control directory
export DH_ALWAYS_EXCLUDE=CVS:.git


# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

DEB_CONFIGURE_EXTRA_FLAGS += --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH)


%:
	dh $@  --with autoreconf --with autotools-dev

# Unicon build configuration
override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr --mandir=/usr/share/man --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) --enable-verbosebuild


#override_dh_installinit:
#	dh_installinit --no-start

# Do we need to custmoize the install?
#override_dh_auto_install:
#	dh_auto_install


# for manually installed dependencies
override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info


